@import '~bootstrap/dist/css/bootstrap';

.session_remember_me {
  width: auto;
}

.top-buffer {
  margin-top: 5em;
}

.top-margin {
  margin-top: 1em;
}
.basic-margin {
  margin-left: 15em;
  margin-right: 15em;
}