<h1>Your Dwarf List</h1>

<%= render partial: "shared/search_bar/search"%>

<div class="card-columns">
  <% @dwarves.each do |dwarf| %>
    <%= render partial: "shared/dwarves/dwarf_list_element", locals: { dwarf: dwarf } %>
  <% end %>
</div>
